{% from "helpers.html" import input %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',
        filename='kityminder.core.css') }}">
	</head>

	<body style="background: rgb(251,251,251)">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="row">
						<div class="span12">
                            <a href="{{ url_for('home') }}" class="brand">{{ config.TITLE }}</a>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

        {% block editorc %}
        {% endblock editorc %}
		</div>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js "></script>
		<script type="text/javascript">
			if (typeof jQuery == 'undefined') {
				document.write(unescape("%3Cscript src='{{ url_for('static', filename='jquery.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
			}
		</script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        {% block editor %}
        {% endblock editor %}
	</body>
</html>
